body {
    margin: 0 10%;
    font-size: 15px;
}

h1 {
    font-size: 25px;
}

h2 {}

img {
    margin: 10px 0;
    max-width: 100%;
}

figure {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
}

figure img {
    border-radius: 5%;
}

@media screen and (min-width:800px) {
    body {
        margin: 0 20%;
        background-color: rgb(46, 115, 179);
        font-size: 25px;
    }
    h1 {
        color: #fff;
        font-size: 60px;
    }
    .column {
        display: flex;
        flex-wrap: wrap;
    }
    figure {
        width: 50%;
    }
    figure img {
        margin: 15px;
    }
}

@media screen and (min-width:1300px) {
    body {
        background-color: rgb(162, 216, 108);
    }
}