@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    background-color: rgb(250, 226, 195);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.404);
    font-size: 20px;
    width: 100%;
    height: 3.7rem;
    position: fixed;
    top: 32px;
}

header ul {
    position: absolute;
    left: 64rem;
    top: 15px;
    font-size: 2rem;
    cursor: pointer;
}

header a {
    margin-right: 20px;
}

header a:hover {
    color: rgb(235, 125, 235);
}


header h1{
    color: #6d6969;
    position: relative;
    left: 283px;
    top: 6px;
}

header img{
    position: relative;
    width: 110px;
    left: 74px;
    top: -69px;
    cursor: pointer;
}

form{
    background-color: antiquewhite;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.404);
    width: 34rem;
    height: 26rem;
    position: relative;
    top: 9rem;
    left: 25rem;
}

form h2{
    font-size: 1.2rem;
    position: relative;
    top: 45px;
    left: 14px;
}

#result {
    font-size: 2rem;
    position: relative;
    left: -10px;
}

#compar{
    position: absolute;
    left: 55px;
    top: 100px;
}

#compar input{
    font-size: 2rem;
}


#compar button{
    font-size: 1.5rem;
    width: 16rem;
    position: relative;
    left: 77px;
    margin: 10px;
    cursor: pointer;
}